RewriteEngine On

# Bloquer l'accès aux fichiers sensibles
<FilesMatch "^\.env$">
    Order allow,deny
    Deny from all
</FilesMatch>

# Forcer le HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
